{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for item in all_auctionitems %}
        <a class="nav-link" href="{% url 'listings' item.id %}">
            <div class="product-container container-fluid card">
                <div>
                    <img class="bd-placeholder-img card-img-left" height="150vh" src="{{ item.prdct_img }}" alt="product image">
                </div>
                <div>
                    <h6>
                        <strong>{{ item.prdct_name }}</strong>
                    </h6>
                    <h5>
                        Price: ₹&nbsp;{{ item.prdct_price }}
                    </h5>
                    <h5>{{item.prdct_desc}}</h5>
                    <p><small>Created: {{item.creation_time}}</small>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}