{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for item in all_auctionitems %}
        <a href="{% url 'listings' item.id %}">
            <div class="product-container" style="border: 1px solid black; margin: 10px;">
                <div>
                    <img src= "{{ item.prdct_img }}" height= "300px" width = "300px" alt="product image">
                </div>
                <div>
                    <strong>{{ item.prdct_name }}</strong>
                    <br> 
                    price: {{ item.prdct_price }}
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}